## Section 1 - Introduction to Python
Python is a modern, robust, high level programming language. It is very easy to pick up even if you are completely new to programming. 

Python, similar to other languages like matlab or R, is interpreted hence runs slowly compared to C++, Fortran or Java. However writing programs in Python is very quick. Python has a very large collection of libraries for everything from scientific computing to web services. It caters for object oriented and functional programming with module system that allows large and complex applications to be developed in Python. 

These lectures are using jupyter notebooks which mix Python code with documentation. The python notebooks can be run on a webserver or stand-alone on a computer.

### Python Basics

In [2]:
print('Hello World')

Hello World

In [3]:
2+2

4

In [4]:
2*2

4

In [5]:
2/2

1.0

In [6]:
6%4

2

### Variables and Expressions

In [7]:
x = 3
y = 4
xy = 'python'
xy_same = "python"

In [8]:
print(xy)

python

In [13]:
print(type(x))
print(type(xy))

<class 'int'>
<class 'str'>

#### Arithemetic Operation

In [9]:
z = x + y
print(z)

7

In [11]:
z = (x*x) + (y*2)
print(z)

17

In [12]:
z = x**3
print(z)

27

In [14]:
x = 3 #integer
x_float = 3.0 #float
print(type(x_float))

<class 'float'>

In [15]:
z = x + x_float # int + float -> float
print(z)
print(type(z))

6.0
<class 'float'>

In [16]:
y = 3.0/2.0
print(y)

1.5

In [18]:
y = 3/2
print(y)

1.5

In [19]:
y = 3//2
print(y)

1

#### String Operations

In [25]:
str1 = 'Hello'
str2 = 'World'
str3 = 'Hello World'

In [21]:
print(str1 + str2)

HelloWorld

In [26]:
print(str1.capitalize())

Hello

In [42]:
op = x + str1

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [44]:
x_str = str(x) # Converts 3 to "3"
print(x_str)
print(type(x_str))

3
<class 'str'>

## Python Data Structures

### Lists

In [30]:
arr  = [1, 2, 3, 4, 5, 6, 7]
array = [8, 9, 10]

In [31]:
print('0th index', arr[0])
print('1st index', arr[1])
print('2nd index', arr[2])

0th index 1
1st index 2
2nd index 3

In [33]:
new_array = arr[0:3]
print(new_array)

[1, 2, 3]

In [34]:
new_array = arr[0:5]
print(new_array)

[1, 2, 3, 4, 5]

In [37]:
an_array = [1, 'New Element', 3.]

In [39]:
print('0th Element: ', type(an_array[0]))
print('1st Element: ',type(an_array[1]))
print('2nd Element: ',type(an_array[2]))

0th Element:  <class 'int'>
1st Element:  <class 'str'>
2nd Element:  <class 'float'>

In [41]:
print(an_array[0])

1

#### List Operations

In [49]:
new_arr = arr + array
print(new_arr)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [50]:
new_arr.reverse()
print(new_arr)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [51]:
len(new_arr)

10

#### Nested Lists

In [52]:
x = [1, 2, 3]
y = [4, 5, 6]
z = [x, y]

In [54]:
print(z)

[[1, 2, 3], [4, 5, 6]]

In [57]:
print(z[0])
print(z[0][2])

[1, 2, 3]
3

In [58]:
print(z[1])
print(z[1][1])

[4, 5, 6]
5

### Dictionary

In [65]:
marks = {
    'math': 1,
    'science': 2,
    'language': 3
}

In [66]:
print(marks['math'])

1

In [62]:
marks = {
    'Person_A': [2, 3, 5, 1],
    'Person_B': [4, 6, 1, 3],
    'Person_C': [7, 9, 7, 8]
}

In [63]:
marks['Person_A']

[2, 3, 5, 1]

### Relational Operations

In [67]:
a = (4 < 3)
print(a)

False

In [68]:
a = (4 > 3)
print(a)

True

In [69]:
a = (4 == 3)
print(a)

False

In [71]:
a = (3 >= 3)
print(a)

True

### Conditional Control Operations - if, elif else

In [72]:
a = 2
b = 2
c = 3
t = 6

In [74]:
if c > 1:
    print('Hello')

Hello

In [75]:
if c > 5:
    print('Hello')

In [76]:
if c > 10:
    print('c is greater than 10')
else:
    print('c is not greater than 10')

c is not greater than 10

In [73]:
if a > c:
    print('a is greater than c')
else:
    print('c is greater than a')

c is greater than a

In [78]:
if (a==b) and (c < a):
    print('Condition satisfied')
else:
    print('Condition not satisfied')

Condition not satisfied

In [80]:
if (a!=b) or (c < a):
    print('Condition satisfied')
else:
    print('Condition not satisfied')

Condition not satisfied

In [81]:
if (a!=b) or (c > a):
    print('Condition satisfied')
else:
    print('Condition not satisfied')

Condition satisfied

In [83]:
a = 5
b = 10
c = 6

In [84]:
if (a>b) and (a>c):
    print('a is the bigger number')
elif b>c:
    print('b is the bigger number')
else:
    print('c is the bigger number')

b is the bigger number

### Functions

Functions are basically containers of pieces of code that collectively acheive a tasks. 

Here, we'll create a function that accepts two numbers, computes the addition and subtraction operations on those two numbers and finally returns both the numbers

In [2]:
def compute(x, y):
    add = x + y
    sub = x - y
    return add, sub

In [3]:
a , b  = compute(10, 8)

In [4]:
print(a)
print(b)

18
2

In [5]:
def compute(x=12, y=6):
    add = x + y
    sub = x - y
    return add, sub

In [10]:
a , b  = compute(y=8)

In [11]:
print(a)
print(b)

20
4

### Math Operations and Packages

The basic operations of python were discussed in the previous notebook, but some advanced operations are stored in special python files known as packages. A package is basically a set of functions that we can use to process data. 

Throughout the sessions, we'll be using a lot of packages such as numpy, pandas, altair, matplotlib and so on. But for now, we'll use a package called 'math' that is built inside python which can be used for performing mathematical operations

In [86]:
import math as m

In [87]:
print(m.sin(30))

-0.9880316240928618

In [88]:
print(m.log(2))

0.6931471805599453

In [90]:
print(m.factorial(5))

120

In [91]:
print(m.exp(3))

20.085536923187668

In [92]:
print(m.sqrt(4))

2.0