# Data Preprocessing Tools

## Importing the libraries

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

## Importing the dataset

In [2]:
dataset = pd.read_csv('raw_data.csv')
X = dataset.iloc[:, :-1].values
y = dataset.iloc[:, -1].values

In [3]:
dataset

   Country   Age   Salary Size Purchased
0   France  44.0  72000.0    M        No
1    Spain  27.0  48000.0    S       Yes
2  Germany  30.0  54000.0    M        No
3    Spain  38.0  61000.0    L        No
4  Germany  40.0      NaN   XL       Yes
5   France  35.0  58000.0  XXL       Yes
6    Spain   NaN  52000.0    M        No
7   France  48.0  79000.0    M       Yes
8  Germany  50.0  83000.0    L        No
9   France  37.0  67000.0    S       Yes

In [4]:
print(X)

[['France' 44.0 72000.0 'M']
 ['Spain' 27.0 48000.0 'S']
 ['Germany' 30.0 54000.0 'M']
 ['Spain' 38.0 61000.0 'L']
 ['Germany' 40.0 nan 'XL']
 ['France' 35.0 58000.0 'XXL']
 ['Spain' nan 52000.0 'M']
 ['France' 48.0 79000.0 'M']
 ['Germany' 50.0 83000.0 'L']
 ['France' 37.0 67000.0 'S']]

In [5]:
print(y)

['No' 'Yes' 'No' 'No' 'Yes' 'Yes' 'No' 'Yes' 'No' 'Yes']

## Taking care of missing data

In [6]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
imputer.fit(X[:, 1:3])
X[:, 1:3] = imputer.transform(X[:, 1:3])

In [7]:
print(X)

[['France' 44.0 72000.0 'M']
 ['Spain' 27.0 48000.0 'S']
 ['Germany' 30.0 54000.0 'M']
 ['Spain' 38.0 61000.0 'L']
 ['Germany' 40.0 63777.77777777778 'XL']
 ['France' 35.0 58000.0 'XXL']
 ['Spain' 38.77777777777778 52000.0 'M']
 ['France' 48.0 79000.0 'M']
 ['Germany' 50.0 83000.0 'L']
 ['France' 37.0 67000.0 'S']]

## Encoding categorical data

### Encoding the Independent Variable

In [8]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder, OrdinalEncoder

sizes = [['S', 'M', 'L', 'XL', 'XXL']]

encode_country = ('country_encoder', OneHotEncoder(), [0])
encode_size = ('size_encoder', OrdinalEncoder(categories=sizes), [3])

transformers = [encode_country, encode_size]
ct = ColumnTransformer(transformers=transformers, remainder='passthrough')
X = np.array(ct.fit_transform(X))

In [9]:
print(X)

[[1.0 0.0 0.0 1.0 44.0 72000.0]
 [0.0 0.0 1.0 0.0 27.0 48000.0]
 [0.0 1.0 0.0 1.0 30.0 54000.0]
 [0.0 0.0 1.0 2.0 38.0 61000.0]
 [0.0 1.0 0.0 3.0 40.0 63777.77777777778]
 [1.0 0.0 0.0 4.0 35.0 58000.0]
 [0.0 0.0 1.0 1.0 38.77777777777778 52000.0]
 [1.0 0.0 0.0 1.0 48.0 79000.0]
 [0.0 1.0 0.0 2.0 50.0 83000.0]
 [1.0 0.0 0.0 0.0 37.0 67000.0]]

### Encoding the Dependent Variable

In [ ]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
y = le.fit_transform(y)

In [ ]:
print(y)

[0 1 0 0 1 1 0 1 0 1]

## Splitting the dataset into the Training set and Test set

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 1)

In [ ]:
print(X_train)

[[0.0 0.0 1.0 38.77777777777778 52000.0]
 [0.0 1.0 0.0 40.0 63777.77777777778]
 [1.0 0.0 0.0 44.0 72000.0]
 [0.0 0.0 1.0 38.0 61000.0]
 [0.0 0.0 1.0 27.0 48000.0]
 [1.0 0.0 0.0 48.0 79000.0]
 [0.0 1.0 0.0 50.0 83000.0]
 [1.0 0.0 0.0 35.0 58000.0]]

In [ ]:
print(X_test)

[[0.0 1.0 0.0 30.0 54000.0]
 [1.0 0.0 0.0 37.0 67000.0]]

In [ ]:
print(y_train)

[0 1 0 0 1 1 0 1]

In [ ]:
print(y_test)

[0 1]

## Feature Scaling

In [ ]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train[:, 3:] = sc.fit_transform(X_train[:, 3:])
X_test[:, 3:] = sc.transform(X_test[:, 3:])

In [ ]:
print(X_train)

[[0.0 0.0 1.0 -0.19159184384578545 -1.0781259408412425]
 [0.0 1.0 0.0 -0.014117293757057777 -0.07013167641635372]
 [1.0 0.0 0.0 0.566708506533324 0.633562432710455]
 [0.0 0.0 1.0 -0.30453019390224867 -0.30786617274297867]
 [0.0 0.0 1.0 -1.9018011447007988 -1.420463615551582]
 [1.0 0.0 0.0 1.1475343068237058 1.232653363453549]
 [0.0 1.0 0.0 1.4379472069688968 1.5749910381638885]
 [1.0 0.0 0.0 -0.7401495441200351 -0.5646194287757332]]

In [ ]:
print(X_test)

[[0.0 1.0 0.0 -1.4661817944830124 -0.9069571034860727]
 [1.0 0.0 0.0 -0.44973664397484414 0.2056403393225306]]